
.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 5px;
}

.border{
    background: tan;
    border: 5px tan;
    margin: 20px;
    min-height: calc(100vh - 100px - 32px);
    
}
